.footer {
    padding-top: 30px; 
    padding-bottom: 30px; 
    background-color: #f7f7f7;
  }
  
  .container-footer {
    display: block;
    text-align: center;
  }
  
  .footer__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: #545454;
  
    @media (min-width: 768px) {
      font-size: 16px;
      line-height: 1.19;
    }
  }
  
  .footer__content {
    display: inline-block;
    margin-top: 10px;
  
    @media (min-width: 768px) {
      margin-top: 0;
    }
  }
  
  .footer__icon {
    margin-right: 10px;
    margin-left: 10px;
    width: 14px;
    height: 12.88px;
  }

  .footer__link-btn {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: #545454;
    text-decoration: underline;
    transition: color 300ms;
    
    &:hover,
    :focus {
      color: #ff6b08;
    }
  
    @media (min-width: 768px) {
      font-size: 16px;
      line-height: 1.19;
    }
  }